/* @import "suitcss-components-grid"; */


/* :root {
  --Grid-font-size: 1rem;
  --Grid-gutter-size: 10px;
} */
body {
  margin: auto;
  width: 60%;
  text-align: center;
}
.searchInput {
  width: 87%;
  height: 25px;
  margin-bottom: 3%;
  /* display: inline-block; */
  grid-area: search;
  border: 3px solid #D1D1D1;
}
.searchIcon {
  width: 5%;
  /* display: inline-block; */
  grid-area: icon;
  vertical-align: middle;
  margin-bottom: -1px;
  margin-right: 3%;
  /* float: left */
}
.search {
  /* display: grid;
  grid-template-areas: icon search; */
  /* grid-template-columns: 10fr 95fr; */
  margin-bottom: 1.5%;
}


img {
  width: 90%;
  margin-bottom: 6%;
}
.Grid {
  display: grid;
  /* grid-template-areas: photo photo photo; */
  grid-template-columns: 30fr 30fr 30fr;
}